@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #6495ed;
    font: normal 1em system-ui, 'Segoe UI', sans-serif;
    width: 100vw;
    height: 100vh;
}

header {
    text-align: center;
    font-weight: bolder;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.345);
    color: white;
    padding: 20px 0px;
}


section {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.303);
}

div {
    font-weight: 490;
    text-align: left;
    padding: 10px;
}

div label {
    margin-right: 10px
}

div  p {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

div input#botao {
    display: block;
    margin-top: 15px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    color: white;
    padding: 20px 0px;
}